<span class="author">
  {%- if author.img -%}
    <img
      src="{{ author.img }}"
      alt=""
      class="author-img"
    >
  {%- endif -%}
  {%- if author.url -%}
    <a href="{{ author.url }}" target="_blank" class="link">
      {{- author.name | escape }}
      {%-
        include author-affiliations.html
        ids=author.affiliations
        map=include.map
      -%}
    </a>
  {%- else -%}
    {{ author.name | escape }}
    {%-
      include author-affiliations.html
      ids=author.affiliations
      map=include.map
    -%}
  {%- endif -%}
</span>
