<header id="home-header">
  <div class="container">
    <ul class="header-pill-group">
      {% if site.content.type %}
      <li class="header-pill">{{ site.content.type }}</li>
      {% endif %} {% if site.conference.name and site.conference.year %}
      <li class="header-pill">
        {{ site.conference.name }} {{ site.conference.year }}
      </li>
      {% endif %}
    </ul>
    <h1>{{ site.title }}</h1>
    {% if site.content.authors %}
    <p id="authors">
      {%- for author in site.content.authors -%} {%- if forloop.first -%}
      <a href="{{ author.url }}" target="_blank" class="link"
        >{{ author.name | escape }}</a
      >
      {%- elsif forloop.last -%} {%- if forloop.length > 1 -%}&nbsp;&amp; {%
      endif -%}
      <a href="{{ author.url }}" target="_blank" class="link"
        >{{ author.name | escape }}</a
      >
      {%- else -%} ,
      <a href="{{ author.url }}" target="_blank" class="link"
        >{{ author.name | escape }}</a
      >
      {%- endif -%} {%- endfor -%}
    </p>
    {% endif %} {% if site.content.affiliation %}
    <p id="affiliation">
      <a href="{{ site.content.affiliation.url }}" target="_blank" class="link"
        >{{ site.content.affiliation.department }}</a
      >, {{ site.content.affiliation.name }}
    </p>
    {% endif %}
    <ul class="header-button-group">
      {%- for link in site.content.links -%}
      <li>
        <a href="{{ link.url }}" target="_blank" class="header-button"
          >{{ link.label }} ↗</a
        >
      </li>
      {%- endfor -%}
    </ul>
  </div>
</header>
