<button
  id="nav-toggle"
  aria-expanded="false"
  aria-controls="mobile-menu"
  aria-label="Open Menu"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    aria-hidden="true"
  >
    <path
      id="nav-close-icon"
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M6 18 18 6M6 6l12 12"
      class="icon"
    />
    <path
      id="nav-open-icon"
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
      class="icon"
    />
  </svg>
  <span class="sr-only">Menu</span>
</button>

<div id="mobile-menu" style="display: none">
  <h2>Pages</h2>
  <ul>
    {%- assign pages_list = site.pages | where_exp: "p", "p.layout == 'page' or
    p.data.layout == 'page'" -%} {% for p in pages_list %}
    <li>
      <a href="{{ p.url | relative_url }}" class="page-card">
        <h3>{{ p.title | escape }}</h3>
        <p>{{ p.description | escape }}</p>
        <div class="arrow-icon" aria-hidden="true">→</div>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
