$color-blue-500: oklch(62.3% 0.214 259.815);
$color-blue-600: oklch(54.6% 0.245 262.881);
$color-blue-700: oklch(48.8% 0.243 264.376);
$color-zinc-50: oklch(98.5% 0 0);
$color-zinc-100: oklch(96.7% 0.001 286.375);
$color-zinc-200: oklch(92% 0.004 286.32);
$color-zinc-300: oklch(87.1% 0.006 286.286);
$color-zinc-400: oklch(70.5% 0.015 286.067);
$color-zinc-500: oklch(55.2% 0.016 285.938);
$color-zinc-600: oklch(44.2% 0.017 285.786);
$color-zinc-700: oklch(37% 0.013 285.805);
$color-zinc-800: oklch(27.4% 0.006 286.033);
$color-zinc-900: oklch(21% 0.006 285.885);
$color-zinc-950: oklch(14.1% 0.005 285.823);
$color-black: #000;
$color-white: #fff;
$spacing: 0.25rem;
$container-3xl: 48rem;
$container-4xl: 56rem;
$container-5xl: 64rem;
$container-6xl: 72rem;
$text-sm: 0.875rem;
$text-sm--line-height: calc(1.25 / 0.875);
$text-lg: 1.125rem;
$text-lg--line-height: calc(1.75 / 1.125);
$text-2xl: 1.5rem;
$text-2xl--line-height: calc(2 / 1.5);
$text-3xl: 1.875rem;
$text-3xl--line-height: calc(2.25 / 1.875);
$text-4xl: 2.25rem;
$text-4xl--line-height: calc(2.5 / 2.25);
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$leading-tight: 1.25;
$radius-lg: 0.5rem;
$ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
$blur-xs: 4px;
$default-transition-duration: 150ms;
$default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$default-font-family: $font-sans;
$default-mono-font-family: $font-mono;

$tw-prose-body: oklch(37% 0.013 285.805);
$tw-prose-headings: oklch(21% 0.006 285.885);
$tw-prose-lead: oklch(44.2% 0.017 285.786);
$tw-prose-links: oklch(21% 0.006 285.885);
$tw-prose-bold: oklch(21% 0.006 285.885);
$tw-prose-counters: oklch(55.2% 0.016 285.938);
$tw-prose-bullets: oklch(87.1% 0.006 286.286);

@use "abstracts/index" as *;
$tw-prose-hr: oklch(92% 0.004 286.32);
$tw-prose-quotes: oklch(21% 0.006 285.885);
$tw-prose-quote-borders: oklch(92% 0.004 286.32);
$tw-prose-captions: oklch(55.2% 0.016 285.938);
$tw-prose-kbd: oklch(21% 0.006 285.885);
$tw-prose-kbd-shadows: color-mix(
  in oklab,
  oklch(21% 0.006 285.885) 10%,
  transparent
);
$tw-prose-code: oklch(21% 0.006 285.885);
$tw-prose-pre-code: oklch(92% 0.004 286.32);
$tw-prose-pre-bg: oklch(27.4% 0.006 286.033);
$tw-prose-th-borders: oklch(87.1% 0.006 286.286);
$tw-prose-td-borders: oklch(92% 0.004 286.32);
$tw-prose-invert-body: oklch(87.1% 0.006 286.286);
$tw-prose-invert-headings: #fff;
$tw-prose-invert-lead: oklch(70.5% 0.015 286.067);
$tw-prose-invert-links: #fff;
$tw-prose-invert-bold: #fff;
$tw-prose-invert-counters: oklch(70.5% 0.015 286.067);
$tw-prose-invert-bullets: oklch(44.2% 0.017 285.786);
$tw-prose-invert-hr: oklch(37% 0.013 285.805);
$tw-prose-invert-quotes: oklch(96.7% 0.001 286.375);
$tw-prose-invert-quote-borders: oklch(37% 0.013 285.805);
$tw-prose-invert-captions: oklch(70.5% 0.015 286.067);
$tw-prose-invert-kbd: #fff;
$tw-prose-invert-kbd-shadows: rgb(255 255 255 / 10%);
$tw-prose-invert-code: #fff;
$tw-prose-invert-pre-code: oklch(87.1% 0.006 286.286);
$tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
$tw-prose-invert-th-borders: oklch(44.2% 0.017 285.786);
$tw-prose-invert-td-borders: oklch(37% 0.013 285.805);
@media (prefers-color-scheme: dark) {
  $tw-prose-body: $tw-prose-invert-body;
  $tw-prose-headings: $tw-prose-invert-headings;
  $tw-prose-lead: $tw-prose-invert-lead;
  $tw-prose-links: $tw-prose-invert-links;
  $tw-prose-bold: $tw-prose-invert-bold;
  $tw-prose-counters: $tw-prose-invert-counters;
  $tw-prose-bullets: $tw-prose-invert-bullets;
  $tw-prose-hr: $tw-prose-invert-hr;
  $tw-prose-quotes: $tw-prose-invert-quotes;
  $tw-prose-quote-borders: $tw-prose-invert-quote-borders;
  $tw-prose-captions: $tw-prose-invert-captions;
  $tw-prose-kbd: $tw-prose-invert-kbd;
  $tw-prose-kbd-shadows: $tw-prose-invert-kbd-shadows;
  $tw-prose-code: $tw-prose-invert-code;
  $tw-prose-pre-code: $tw-prose-invert-pre-code;
  $tw-prose-pre-bg: $tw-prose-invert-pre-bg;
  $tw-prose-th-borders: $tw-prose-invert-th-borders;
  $tw-prose-td-borders: $tw-prose-invert-td-borders;
}
$tw-space-y-reverse: 0;
$tw-space-x-reverse: 0;

$tw-border-style: solid;
$tw-leading: 1.5;
$tw-backdrop-brightness: brightness(1);
$tw-backdrop-blur: blur($blur-xs);

*,
::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid;
}
html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: $default-font-family, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-tap-highlight-color: transparent;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp,
pre {
  font-family: $default-mono-font-family, ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
:-moz-focusring {
  outline: auto;
}
progress {
  vertical-align: baseline;
}
summary {
  display: list-item;
}
ol,
ul,
menu {
  list-style: none;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  // vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
button,
input,
select,
optgroup,
textarea,
::file-selector-button {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  border-radius: 0;
  background-color: transparent;
  opacity: 1;
}
:where(select:is([multiple], [size])) optgroup {
  font-weight: bolder;
}
:where(select:is([multiple], [size])) optgroup option {
  padding-inline-start: 20px;
}
::file-selector-button {
  margin-inline-end: 4px;
}
::placeholder {
  opacity: 1;
}
@supports (not (-webkit-appearance: -apple-pay-button)) or
  (contain-intrinsic-size: 1px) {
  ::placeholder {
    color: currentcolor;
    @supports (color: color-mix(in lab, red, red)) {
      color: color-mix(in oklab, currentcolor 50%, transparent);
    }
  }
}
textarea {
  resize: vertical;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-date-and-time-value {
  min-height: 1lh;
  text-align: inherit;
}
::-webkit-datetime-edit {
  display: inline-flex;
}
::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}
::-webkit-datetime-edit,
::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute-field,
::-webkit-datetime-edit-second-field,
::-webkit-datetime-edit-millisecond-field,
::-webkit-datetime-edit-meridiem-field {
  padding-block: 0;
}
::-webkit-calendar-picker-indicator {
  line-height: 1;
}
:-moz-ui-invalid {
  box-shadow: none;
}
button,
input:where([type="button"], [type="reset"], [type="submit"]),
::file-selector-button {
  appearance: button;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[hidden]:where(:not([hidden="until-found"])) {
  display: none !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}
.fixed {
  position: fixed;
}
.top-0 {
  top: calc($spacing) * 0;
}
.top-4 {
  top: calc($spacing) * 4;
}
.right-4 {
  right: calc($spacing) * 4;
}
.left-0 {
  left: calc($spacing) * 0;
}
.z-40 {
  z-index: 40;
}
.z-50 {
  z-index: 50;
}
.container {
  width: 100%;
  @media (width >= 40rem) {
    max-width: 40rem;
  }
  @media (width >= 48rem) {
    max-width: 48rem;
  }
  @media (width >= 64rem) {
    max-width: 64rem;
  }
  @media (width >= 80rem) {
    max-width: 80rem;
  }
  @media (width >= 96rem) {
    max-width: 96rem;
  }
}
.mx-auto {
  margin-inline: auto;
}
.mb-4 {
  margin-bottom: calc($spacing) * 4;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.size-6 {
  width: calc($spacing) * 6;
  height: calc($spacing) * 6;
}
.size-12 {
  width: calc($spacing) * 12;
  height: calc($spacing) * 12;
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}
.max-w-3xl {
  max-width: $container-3xl;
}
.max-w-6xl {
  max-width: $container-6xl;
}
.cursor-pointer {
  cursor: pointer;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.items-start {
  align-items: flex-start;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-start {
  justify-content: flex-start;
}
.gap-4 {
  gap: calc($spacing * 4);
}

.space-y-2 {
  :where(& > :not(:last-child)) {
    margin-block-start: calc(calc($spacing * 2) * $tw-space-y-reverse);
    margin-block-end: calc(calc($spacing * 2) * calc(1 - $tw-space-y-reverse));
  }
}
.space-y-4 {
  :where(& > :not(:last-child)) {
    margin-block-start: calc(calc($spacing * 4) * $tw-space-y-reverse);
    margin-block-end: calc(calc($spacing * 4) * calc(1 - $tw-space-y-reverse));
  }
}

.space-y-8 {
  :where(& > :not(:last-child)) {
    margin-block-start: calc(calc($spacing * 8) * $tw-space-y-reverse);
    margin-block-end: calc(calc($spacing * 8) * calc(1 - $tw-space-y-reverse));
  }
}

.space-x-8 {
  :where(& > :not(:last-child)) {
    margin-inline-start: calc(calc($spacing * 8) * $tw-space-x-reverse);
    margin-inline-end: calc(calc($spacing * 8) * calc(1 - $tw-space-x-reverse));
  }
}

.rounded-full {
  border-radius: calc(infinity * 1px);
}
.border {
  border-style: $tw-border-style;
  border-width: 1px;
}
.border-t {
  border-top-style: $tw-border-style;
  border-top-width: 1px;
}
.border-b {
  border-bottom-style: $tw-border-style;
  border-bottom-width: 1px;
}
.border-zinc-200 {
  border-color: $color-zinc-200;
}
.border-zinc-200\/50 {
  border-color: color-mix(in srgb, oklch(92% 0.004 286.32) 50%, transparent);
  @supports (color: color-mix(in lab, red, red)) {
    border-color: color-mix(in oklab, $color-zinc-200 50%, transparent);
  }
}
.bg-white {
  background-color: $color-white;
}
.bg-zinc-100\/50 {
  background-color: color-mix(
    in srgb,
    oklch(96.7% 0.001 286.375) 50%,
    transparent
  );
  @supports (color: color-mix(in lab, red, red)) {
    background-color: color-mix(in oklab, $color-zinc-100 50%, transparent);
  }
}
.p-4 {
  padding: calc($spacing) * 4;
}
.px-4 {
  padding-inline: calc($spacing) * 4;
}
.py-6 {
  padding-block: calc($spacing) * 6;
}
.py-8 {
  padding-block: calc($spacing) * 8;
}
.py-24 {
  padding-block: calc($spacing) * 24;
}
.py-32 {
  padding-block: calc($spacing) * 32;
}
.text-center {
  text-align: center;
}
.font-mono {
  font-family: $font-mono;
}
.font-sans {
  font-family: $font-sans;
}
.text-2xl {
  font-size: $text-2xl;
  line-height: $tw-leading, $text-2xl--line-height;
}
.text-3xl {
  font-size: $text-3xl;
  line-height: $tw-leading, $text-3xl--line-height;
}
.text-4xl {
  font-size: $text-4xl;
  line-height: $tw-leading, $text-4xl--line-height;
}
.text-sm {
  font-size: $text-sm;
  line-height: $tw-leading, $text-sm--line-height;
}
.font-medium {
  $tw-font-weight: $font-weight-medium;
  font-weight: $font-weight-medium;
}
.font-semibold {
  $tw-font-weight: $font-weight-semibold;
  font-weight: $font-weight-semibold;
}
.text-balance {
  text-wrap: balance;
}
.text-zinc-600 {
  color: $color-zinc-600;
}
.text-zinc-700 {
  color: $color-zinc-700;
}
.text-zinc-900 {
  color: $color-zinc-900;
}

.backdrop-blur-xs {
  -webkit-backdrop-filter: $tw-backdrop-blur;
  backdrop-filter: $tw-backdrop-blur;
}

.transition {
  transition-property: color, background-color, border-color, outline-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform,
    translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter,
    display, content-visibility, overlay, pointer-events;
  transition-timing-function: $default-transition-timing-function;
  transition-duration: $default-transition-duration;
}
.transition-all {
  transition-property: all;
  transition-timing-function: $default-transition-timing-function;
  transition-duration: $default-transition-duration;
}
.transition-colors {
  transition-property: color, background-color, border-color, outline-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: $default-transition-timing-function;
  transition-duration: $default-transition-duration;
}

.ease-in-out {
  transition-timing-function: $ease-in-out;
}

.hover\:text-zinc-900 {
  &:hover {
    @media (hover: hover) {
      color: $color-zinc-900;
    }
  }
}
.focus\:outline-hidden {
  &:focus {
    $tw-outline-style: none;
    outline-style: none;
    @media (forced-colors: active) {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }
  }
}
.md\:flex {
  @media (width >= 48rem) {
    display: flex;
  }
}
.md\:hidden {
  @media (width >= 48rem) {
    display: none;
  }
}
.md\:grid-cols-3 {
  @media (width >= 48rem) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.md\:px-8 {
  @media (width >= 48rem) {
    padding-inline: calc($spacing) * 8;
  }
}
.md\:text-zinc-700 {
  @media (width >= 48rem) {
    color: $color-zinc-700;
  }
}
.md\:hover\:text-zinc-900 {
  @media (width >= 48rem) {
    &:hover {
      @media (hover: hover) {
        color: $color-zinc-900;
      }
    }
  }
}
.dark\:border-zinc-800 {
  @media (prefers-color-scheme: dark) {
    border-color: $color-zinc-800;
  }
}
.dark\:border-zinc-800\/50 {
  @media (prefers-color-scheme: dark) {
    border-color: color-mix(
      in srgb,
      oklch(27.4% 0.006 286.033) 50%,
      transparent
    );
    @supports (color: color-mix(in lab, red, red)) {
      border-color: color-mix(in oklab, $color-zinc-800 50%, transparent);
    }
  }
}
.dark\:bg-zinc-900\/50 {
  @media (prefers-color-scheme: dark) {
    background-color: color-mix(
      in srgb,
      oklch(21% 0.006 285.885) 50%,
      transparent
    );
    @supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(in oklab, $color-zinc-900 50%, transparent);
    }
  }
}
.dark\:bg-zinc-950 {
  @media (prefers-color-scheme: dark) {
    background-color: $color-zinc-950;
  }
}
.dark\:text-white {
  @media (prefers-color-scheme: dark) {
    color: $color-white;
  }
}
.dark\:text-zinc-300 {
  @media (prefers-color-scheme: dark) {
    color: $color-zinc-300;
  }
}
.dark\:text-zinc-400 {
  @media (prefers-color-scheme: dark) {
    color: $color-zinc-400;
  }
}
.dark\:hover\:text-white {
  @media (prefers-color-scheme: dark) {
    &:hover {
      @media (hover: hover) {
        color: $color-white;
      }
    }
  }
}
.md\:dark\:text-zinc-300 {
  @media (width >= 48rem) {
    @media (prefers-color-scheme: dark) {
      color: $color-zinc-300;
    }
  }
}
.dark\:md\:hover\:text-white {
  @media (prefers-color-scheme: dark) {
    @media (width >= 48rem) {
      &:hover {
        @media (hover: hover) {
          color: $color-white;
        }
      }
    }
  }
}

@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background-color: $color-white;
  font-family: $font-sans;
  color: $color-black;
  @media (prefers-color-scheme: dark) {
    background-color: $color-zinc-950;
  }
  @media (prefers-color-scheme: dark) {
    color: $color-white;
  }
  scroll-behavior: smooth;
}

.link {
  $tw-font-weight: $font-weight-medium;
  font-weight: $font-weight-medium;
  color: $color-black;
  text-decoration-line: underline;
  @media (prefers-color-scheme: dark) {
    color: $color-white;
  }
}

hr {
  border-color: $color-zinc-200;
  @media (prefers-color-scheme: dark) {
    border-color: $color-zinc-800;
  }
}

section h2 {
  font-size: $text-2xl;
  line-height: $tw-leading, $text-2xl--line-height;
  $tw-font-weight: $font-weight-semibold;
  font-weight: $font-weight-semibold;
}

main {
  padding-inline: calc($spacing) * 4;
  @media (width >= 48rem) {
    padding-inline: calc($spacing) * 8;
  }
}
.container {
  margin-inline: auto;
  max-width: $container-6xl;
}

main section {
  :where(& > :not(:last-child)) {
    $tw-space-y-reverse: 0;
    margin-block-start: calc(calc($spacing) * 4) * $tw-space-y-reverse;
    margin-block-end: calc(calc($spacing) * 4) * calc(1 - $tw-space-y-reverse);
  }
}
