// Colors
$color-black: #000;
$color-white: #fff;

$color-zinc-50: oklch(98.5% 0 0);
$color-zinc-100: oklch(96.7% 0.001 286.375);
$color-zinc-200: oklch(92% 0.004 286.32);
$color-zinc-300: oklch(87.1% 0.006 286.286);
$color-zinc-400: oklch(70.5% 0.015 286.067);
$color-zinc-500: oklch(55.2% 0.016 285.938);
$color-zinc-600: oklch(44.2% 0.017 285.786);
$color-zinc-700: oklch(37% 0.013 285.805);
$color-zinc-800: oklch(27.4% 0.006 286.033);
$color-zinc-900: oklch(21% 0.006 285.885);
$color-zinc-950: oklch(14.1% 0.005 285.823);

$color-blue-500: oklch(62.3% 0.214 259.815);
$color-blue-600: oklch(54.6% 0.245 262.881);
$color-blue-700: oklch(48.8% 0.243 264.376);

// Fonts
$font-display: "Inter Tight", "Inter", "SF Pro", ui-sans-serif, system-ui,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";
$font-text: "Inter", "SF Pro", ui-sans-serif, system-ui, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;

// Content (light)
$color-headings: $color-black;
$color-text: $color-zinc-700;
$color-background: $color-white;
$color-border: $color-zinc-200;
$color-links: $color-blue-600;

// Content (dark)
$color-headings-dark: $color-white;
$color-text-dark: $color-zinc-400;
$color-background-dark: $color-zinc-950;
$color-border-dark: $color-zinc-800;

// Article Prose
$prose-body: $color-text;
$prose-headings: $color-headings;
$prose-lead: $color-zinc-600;
$prose-links: $color-link;
$prose-bold: $color-headings;
$prose-counters: $color-zinc-500;
$tw-prose-bullets: $color-zinc-300;
$prose-hr: $color-border;
$prose-quotes: $color-zinc-950;
$prose-quote-borders: $prose-hr;
$prose-captions: $color-zinc-500;
$prose-kbd: $color-zinc-900;
$prose-kbd-shadows: color-mix(
  in oklab,
  oklch(21% 0.006 285.885) 10%,
  transparent
);
$prose-code: $color-zinc-900;
$prose-pre-bg: oklch(20% 0.01 285.885);
$prose-pre-text: $color-zinc-200;
$prose-pre-bg: $color-zinc-800;
$prose-th-borders: $color-zinc-300;
$prose-td-borders: $color-zinc-200;

// Typography
$text-sm: 0.875rem;
$text-sm--line-height: calc(1.25 / 0.875);
$text-lg: 1.125rem;
$text-lg--line-height: calc(1.75 / 1.125);
$text-2xl: 1.5rem;
$text-2xl--line-height: calc(2 / 1.5);
$text-3xl: 1.875rem;
$text-3xl--line-height: calc(2.25 / 1.875);
$text-4xl: 2.25rem;
$text-4xl--line-height: calc(2.5 / 2.25);

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

// Sizing
$spacing: 0.25rem;
$leading: 1.5;

$container-3xl: 48rem;
$container-4xl: 56rem;
$container-5xl: 64rem;
$container-6xl: 72rem;

// Breakpoints
$breakpoint-sm: 30rem;
$breakpoint-md: 48rem;
$breakpoint-lg: 64rem;
$breakpoint-xl: 80rem;

// Other
$border-style: solid;
