@use "../abstracts/" as *;

.header-button {
  display: inline-block;
  border-radius: calc(infinity * 1px);
  border-style: $border-style;
  border-width: 1px;
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  padding-inline: $spacing * 4;
  padding-block: $spacing * 2;
  font-size: $text-sm;
  line-height: $leading, $text-sm--line-height;
  font-weight: $font-weight-medium;
  color: var(--color-primary-text);
  transition-property: color, background-color, border-color, outline-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform,
    translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter,
    display, content-visibility, overlay, pointer-events;
  transition-timing-function: $default-transition-timing-function;
  transition-duration: $default-transition-duration;

  @media (hover: hover) {
    &:hover {
      border-color: var(--color-primary-hover);
      background-color: var(--color-primary-hover);
    }
  }
}
