@use "../abstracts/" as abstracts;

#nav-toggle {
  @media (min-width: abstracts.$breakpoint-md) {
    display: none !important;
  }

  position: fixed;
  top: calc(abstracts.$spacing) * 4;
  right: calc(abstracts.$spacing) * 4;
  width: calc(abstracts.$spacing) * 12;
  height: calc(abstracts.$spacing) * 12;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: abstracts.$rounded-full;
  font-weight: abstracts.$font-weight-medium;
  background-color: abstracts.$color-zinc-100;
  border-style: abstracts.$border-style;
  border-width: abstracts.$border-width;
  border-color: var(--color-border);
  z-index: 50;

  &:focus {
    outline: none;
  }

  svg {
    width: calc(abstracts.$spacing) * 6;
    height: calc(abstracts.$spacing) * 6;
  }
}

#mobile-menu {
  @extend .space-y-4;
  position: fixed;
  top: 0;
  left: 0;
  padding-inline: calc(abstracts.$spacing) * 4;
  padding-block: calc(abstracts.$spacing) * 24;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--color-background);
  z-index: 40;
  transition-property: all;
  transition-timing-function: ease-in-out;

  h2 {
    font-size: abstracts.$text-lg;
    line-height: abstracts.$leading, abstracts.$text-lg--line-height;
    font-weight: abstracts.$font-weight-semibold;
  }

  ul {
    @extend .space-y-2;
    width: 100%;
  }
}
