@use "../abstracts/" as abstracts;

nav {
  @media (min-width: $breakpoint-md) {
    display: none !important;
  }
}

#nav-button svg {
  width: calc($spacing) * 6;
  height: calc($spacing) * 6;
}

#mobile-menu-list {
  li a {
    display: block;
  }
}
