@use "../abstracts/" as *;

nav {
  @media (min-width: $breakpoint-md) {
    display: none !important;
  }
}

#nav-button svg {
  width: calc($spacing) * 6;
  height: calc($spacing) * 6;
}

#mobile-menu {
  h2 {
    font-size: $text-xs;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--color-text);
    margin-bottom: calc($spacing * 4);
  }
}
