@use "../abstracts/" as abstracts;

nav {
  @media (min-width: abstracts.$breakpoint-md) {
    display: none !important;
  }
}

#nav-button svg {
  width: calc(abstracts.$spacing) * 6;
  height: calc(abstracts.$spacing) * 6;
}

#mobile-menu-list {
  li a {
    display: block;
  }
}
