@use "../abstracts/" as *;

nav {
  position: fixed;
  background-color: var(--color-background);
  top: 0;
  padding-inline: calc($spacing * 4);
  padding: calc($spacing * 4);
  width: 100%;
  z-index: 50;
  border-bottom: 1px solid;
  border-color: var(--color-border);

  @media (min-width: $breakpoint-md) {
    padding-inline: calc($spacing * 8);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      align-items: center;
      justify-content: flex-end;
      gap: calc($spacing) * 8;
      font-size: $text-sm;
      line-height: $leading, $text-sm--line-height;

      @media (min-width: $breakpoint-md) {
        display: flex;
      }

      li a {
        color: var(--color-text);
      }
    }
  }

  #site-title {
    font-weight: $font-weight-semibold;
    color: var(--color-text);
  }
}
