@use "../abstracts/" as abstracts;

.header-pill {
  display: inline-block;
  border-radius: calc(infinity * 1px);
  border-style: $border-style;
  border-width: $border-width;
  border-color: var(--color-border);
  background-color: var(--color-background);
  padding-inline: calc($spacing) * 3;
  padding-block: calc($spacing) * 1;
  font-size: $text-sm;
  line-height: $leading, $text-sm--line-height;
  font-weight: $font-weight-medium;
  color: var(--color-headings);
}
