@use "../abstracts/" as abstracts;

footer {
  background: var(--color-background);
  border-top: 1px solid var(--color-border);
  border-image: linear-gradient(to right, var(--color-border), transparent 100%)
    1;
  padding: calc(abstracts.$spacing) * 4;
  color: var(--color-text);

  @media (min-width: abstracts.$breakpoint-md) {
    padding: calc(abstracts.$spacing) * 8;
  }

  p {
    font-size: abstracts.$text-sm;
    line-height: abstracts.$leading, abstracts.$text-sm--line-height;
  }
  a {
    color: var(--color-links);
    text-decoration: underline;
  }
}
