@use "../abstracts/" as *;

footer {
  background: var(--color-background);
  border-top: 1px solid var(--color-border);

  padding: $spacing * 4;
  color: var(--color-text);

  @media (min-width: $breakpoint-md) {
    padding: $spacing * 8;
    border-image: linear-gradient(
        to right,
        var(--color-border),
        transparent 100%
      )
      1;
  }

  p {
    font-size: $text-sm;
    line-height: $leading, $text-sm--line-height;
  }
  a {
    color: var(--color-links);
    text-decoration: underline;
  }
}
