@use "../abstracts/" as abstracts;

$footer-bg-color: var(--color-background);
$footer-border-color: var(--color-border);
$footer-text-color: var(--color-text);
$footer-link-color: var(--color-links);

footer {
  background: $footer-bg-color;
  border-top: 1px solid $footer-border-color;
  padding-inline: calc(abstracts.$spacing) * 4;

  @media (min-width: abstracts.$breakpoint-md) {
    padding-inline: calc(abstracts.$spacing) * 8;
  }

  .container {
    padding: calc(abstracts.$spacing) * 6;

    p {
      font-size: abstracts.$text-sm;
      line-height: abstracts.$leading, abstracts.$text-sm--line-height;
      color: $footer-text-color;
    }
    a {
      color: $footer-link-color;
      text-decoration: underline;
    }
  }
}
