@use "../abstracts/" as *;

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--color-background);
  border-top: 1px solid var(--color-border);

  padding: $spacing * 4;
  color: var(--color-text);

  @media (min-width: $breakpoint-md) {
    text-align: left;
    padding: $spacing * 8;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    border-image: linear-gradient(
        to right,
        var(--color-border),
        transparent 100%
      )
      1;
  }

  p {
    font-size: $text-sm;
    line-height: $leading, $text-sm--line-height;
  }
  a {
    color: var(--color-links);
    text-decoration: underline;
  }

  .logo {
    margin-top: $spacing * 4;

    img {
      max-height: 60px;
      width: auto;
    }

    @media (min-width: $breakpoint-md) {
      display: block;
      margin-top: 0;
    }
  }
}
