@use "../abstracts/" as *;

#home-header {
  padding-top: calc($spacing) * 16;
  padding-bottom: calc($spacing) * 8;

  h1 {
    max-width: $container-5xl;
    font-size: $text-3xl;
    line-height: $leading, $text-3xl--line-height;
    line-height: $leading-tight;
    font-weight: $font-weight-semibold;
    text-wrap: balance;
    margin-bottom: $spacing * 4;
  }

  .affiliation {
    font-size: $text-sm;
    line-height: $leading, $text-sm--line-height;
    color: var(--color-text);
    margin-bottom: $spacing * 4;
  }

  .authors {
    margin-bottom: $spacing * 4;
    display: flex;
    flex-wrap: wrap;
    gap: $spacing;

    .author {
      display: flex;
      align-items: center;
      gap: $spacing;
    }

    .author-img {
      width: 6 * $spacing;
      height: 6 * $spacing;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
      display: inline-block;
      margin-right: $spacing;
      justify-content: center;
      align-items: center;
    }
  }
}

.header-pill-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: calc($spacing) * 2;
  margin-bottom: $spacing * 4;
}

.header-button-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: calc($spacing) * 4;
}
