@use "../abstracts/" as *;

#home-page-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: calc($spacing) * 4;
  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
