@use "../abstracts/" as abstracts;

#home-header {
  border-bottom-style: abstracts.$border-style;
  border-bottom-width: 1px;
  border-color: abstracts.$color-zinc-200;
  padding-inline: calc(abstracts.$spacing) * 4;
  padding-top: calc(abstracts.$spacing) * 16;
  padding-bottom: calc(abstracts.$spacing) * 8;
  @media screen and (min-width: abstracts.$breakpoint-md) {
    padding-inline: calc(abstracts.$spacing) * 8;
  }
  @media (prefers-color-scheme: dark) {
    border-color: abstracts.$color-zinc-800;
  }

  h1 {
    max-width: $container-5xl;
    font-size: $text-3xl;
    line-height: $leading, $text-3xl--line-height;
    line-height: $leading-tight;
    font-weight: $font-weight-semibold;
    text-wrap: balance;
    @media screen and (min-width: $breakpoint-md) {
      font-size: $text-3xl;
      line-height: $leading, $text-3xl--line-height;
    }
  }

  .container {
    @extend .space-y-4;
  }

  #affiliation {
    font-size: abstracts.$text-sm;
    line-height: abstracts.$leading, abstracts.$text-sm--line-height;
    color: abstracts.$color-zinc-600;
  }
}

.header-pill-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: calc(abstracts.$spacing) * 2;
}

.header-button-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: calc(abstracts.$spacing) * 4;
}
