@use "../abstracts/" as abstracts;

#home-header {
  border-bottom-style: $border-style;
  border-bottom-width: 1px;
  border-color: var(--color-border);
  // padding-inline: calc($spacing) * 4;
  padding-top: calc($spacing) * 16;
  padding-bottom: calc($spacing) * 8;
  // @media (min-width: $breakpoint-md) {
  //   padding-inline: calc($spacing) * 8;
  // }

  h1 {
    max-width: $container-5xl;
    font-size: $text-3xl;
    line-height: $leading, $text-3xl--line-height;
    line-height: $leading-tight;
    font-weight: $font-weight-semibold;
    text-wrap: balance;
    @media (min-width: $breakpoint-md) {
      font-size: $text-3xl;
      line-height: $leading, $text-3xl--line-height;
    }
  }

  #affiliation {
    font-size: $text-sm;
    line-height: $leading, $text-sm--line-height;
    color: var(--color-text);
  }
}

.header-pill-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: calc($spacing) * 2;
}

.header-button-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: calc($spacing) * 4;
}
