@use "../abstracts/" as *;

#page-header {
  // padding-inline: calc($spacing) * 4;
  padding-top: calc($spacing) * 16;
  // @media (min-width: $breakpoint-md) {
  //   padding-inline: calc($spacing) * 8;
  // }

  h1 {
    font-size: $text-3xl;
    line-height: $leading, $text-3xl--line-height;
    font-weight: $font-weight-semibold;
  }
  p {
    font-size: $text-lg;
    line-height: $leading, $text-lg--line-height;
    color: var(--color-text);
  }
}
