@use "../abstracts/" as *;

.site-layout {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    align-items: stretch;
  }
}

.content-wrapper {
  flex: 1;
  min-width: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  width: 100%;
  padding: calc($spacing * 4);

  @media (min-width: $breakpoint-md) {
    padding: calc($spacing * 8);
  }

  * {
    max-width: 100%;
    overflow-wrap: break-word;
  }
}
