@use "../abstracts/" as *;

body {
  background-color: var(--color-background);
  color: var(--color-text);
  scroll-behavior: smooth;
}

hr {
  border-color: var(--color-border);
}

.container {
  margin-inline: auto;
  max-width: $container-7xl;
}

main section {
  :where(& > :not(:last-child)) {
    margin-block-start: 0;
    margin-block-end: $spacing * 4;
  }
}
