@use "../abstracts/" as abstracts;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: abstracts.$font-display;
  color: var(--color-headings);
}

html,
body {
  color: var(--color-text);
  font-family: abstracts.$font-text;
}

section h2 {
  font-size: abstracts.$text-2xl;
  line-height: abstracts.$leading, abstracts.$text-2xl--line-height;
  font-weight: abstracts.$font-weight-semibold;
}

b,
strong {
  font-weight: abstracts.$font-weight-semibold;
}

.link {
  font-weight: abstracts.$font-weight-medium;
  color: var(--color-links);
  text-decoration-line: underline;
}
