:where(.space-y-2 > :not(:last-child)) {
  margin-block-start: 0rem;
  margin-block-end: 0.5rem;
}

:where(.space-y-4 > :not(:last-child)) {
  margin-block-start: 0rem;
  margin-block-end: 1rem;
}

:where(.space-y-8 > :not(:last-child)) {
  margin-block-start: 0rem;
  margin-block-end: 2rem;
}

:where(.space-x-8 > :not(:last-child)) {
  margin-inline-start: 0rem;
  margin-inline-end: 2rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}
